html, body {
    height: 100%;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    background-color: black;
    margin: 0 auto 20px auto;
    max-height: 150px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;

}

nav {
    text-align: right;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

}

nav li {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 40px;
    font-size: 22px;
    cursor: pointer;
    transition: color .5s;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    padding-right: 5%;
}

.active {
    color: #00C700;
    font-weight: 700;
}

main {
    background-color: green;
    text-align: center;
    flex: 1 0 auto;
}

li {
    list-style: none;
}

.white-background {
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
}

.black-background {
    background-color: black;
    color: white;
}

#card-table {
    min-height: 220px;
    background-color: green;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#game-display-message {
    min-height: 30px;
    background-color: green;
    text-align: center;
    padding: 0;

}

.card {
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    max-width: 15%;
    text-align: center;
    color: black;
    margin: 30px 3px;
    max-height: 140px;
}

.face-down {
    background-image: url('../images/card_back.png');
    width: 102px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #9abae6;
}

.card .value {
    font-size: 15pt;
    font-family: sans-serif;
}

.card .suit {
    height: 100px;
    width: 102px;
}

.card .diamonds {
    background-image: url('../images/diamond.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card .hearts {
    background-image: url('../images/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card .clubs {
    background-image: url('../images/clubb.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card .spades {
    background-image: url('../images/spade.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.selected {
    margin-top: 5px;
    margin-bottom: 36px;
}

.hold {
    display: none;
}

.selected .hold {
    display: block;
}

.game-controls-area {
    min-height: 50px;
    background-color: green;
}

.game-controls {
    display: inline-block;
    width: 33%;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

button {
    font-size: 20px;
    background-color: black;
    color: white;
}

#btn-draw {
    display: none;
}

#btn-bank-win {
    display: none;
}

#btn-high {
    display: none;
}

#btn-low {
    display: none;
}

#winnings {
    display: none;
}


#bet-amount {
    width: 50px;
}

footer {
    flex-shrink: 0;
    background: black;
    color: white;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: #fff;
}

footer p a:hover {
    color: #00C700;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .card {
        margin: 30px 3px;
        width: 57px;
        max-width: 15%;
        overflow: hidden;
    }

    #card-table {
        min-height: 158px;
    }

    .card .suit {
        width: 100%;
        height: 35px;
    }

    .face-down {
        background-size: contain;
        background-position: 0;
        width: 57px;
    }

    .selected {
        margin-top: 5px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 467px) {
    .card .suit {
        width: 100%;
    }
}

@media screen and (min-width: 820px) {
    .card {
        margin: 30px 20px;
    }

    .selected {
        margin-top: 5px;
        margin-bottom: 36px;
    }

}