html, body {
    height: 100%;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    background-color: black;
    margin: 0 auto 1px auto;
    max-height: 150px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
}

nav {
    text-align: right;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 40px;
    font-size: 22px;
    cursor: pointer;
    transition: color .5s;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    padding-right: 5%;
}

.active {
    color: #00C700;
    font-weight: 700;
}

main {
    background-image: url(../images/felt.png);
    text-align: center;
    flex: 1 0 auto;
    border-radius: 5px;
}

li {
    list-style: none;
}

/* Home Page */

.flex-main {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.instructions {
    width: 100%;
    padding-bottom: 5px;
}

.winning-hands {
    width: 100%;
}


.winnings-half > p {
    margin: 0;
}

.winnings-half {
    width: 100%;
}

.winnings-half .winning-hand-img {
    width: 70%;
    
}

p.hands {
    margin: 5px 0;
    font-weight: 700;
    font-size: 1.2rem;
}

p.hands.no-mt {
    margin-top: 0;
}

.instructions, .winnings-half, .error-bg {
    background-color: #081c0c78;
    margin: 0;
}

.title {
    width: 100%;
}

.desktop-only {
    display: none;
}

/* Game Page */

#card-table {
    min-height: 220px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#game-display-message {
    min-height: 30px;
    text-align: center;
    padding: 0;

}

.card {
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    max-width: 15%;
    text-align: center;
    color: black;
    margin: 30px 3px;
    max-height: 140px;
}

.face-down {
    background-image: url('../images/card_back.png');
    width: 102px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #9abae6;
}

.card .value {
    font-size: 15pt;
    font-family: sans-serif;
}

.card .suit {
    height: 100px;
    width: 102px;
}

.card .diamonds {
    background-image: url('../images/diamond.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card .hearts {
    background-image: url('../images/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card .clubs {
    background-image: url('../images/clubb.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card .spades {
    background-image: url('../images/spade.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.selected {
    margin-top: 5px;
    margin-bottom: 36px;
}

.hold {
    display: none;
}

.selected .hold {
    display: block;
}

.game-controls-area {
    min-height: 50px;
}

.game-controls {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    text-align: center;
}

button {
    font-size: 18px;
    background-color: white;
    border: 1px solid white;
    color: black;
    padding: 0px 10px;
    text-align: center;
    border-radius: 2px;
}

button:hover {
    background-color: black;
    border: 1px solid white;
    color: #00C700;
}

#btn-draw {
    display: none;
}

#btn-bank-win {
    display: none;
}

#btn-high {
    display: none;
}

#btn-low {
    display: none;
}

#winnings {
    display: none;
}


#bet-amount {
    width: 50px;
}

footer {
    flex-shrink: 0;
    background: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 1px;
}

footer p a {
    text-decoration: none;
    color: #fff;
}

footer p a:hover {
    color: #00C700;
}

/* 404 */

.home-link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.home-link:hover {
    color: #000;
    font-weight: 900;
}

.error-bg {
    height: 93.5%;
}

.error-pic {
    width: 100%;
}

.error-pic img {
    width: 60%;
    height: auto;
    padding-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .card {
        margin: 30px 3px;
        width: 57px;
        max-width: 15%;
        overflow: hidden;
    }

    #card-table {
        min-height: 158px;
    }

    .card .suit {
        width: 100%;
        height: 35px;
    }

    .face-down {
        background-size: contain;
        background-position: 0;
        width: 57px;
    }

    .selected {
        margin-top: 5px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 467px) {
    .card .suit {
        width: 100%;
    }
    #winnings {
        width: 100%
    }
}

@media screen and (min-width: 400px) {
    .card.face-down {
        background-position-x: 5px;
    }
    button {
        font-size: 20px;
    }
}

@media screen and (min-width: 820px) {
    .game-controls {
        width: 33%;
        padding: 0;
    }
    
    .card {
        margin: 30px 20px;
    }
    
    .selected {
        margin-top: 5px;
        margin-bottom: 36px;
    }

    .flex-main {
        flex-direction: row;
    }

    .instructions {
        width: 30%;
    }
    
    .winning-hands {
        display: flex;
        width: 70%;
    }

    .winnings-half {
        width: 50%;
    }
    
    .instructions, .winnings-half {
        margin: 0 20px;
    }

    p.hands.no-mt {
        margin-top: 5px;
    }

    .desktop-only {
        display: block;
    }

    .winnings-half .winning-hand-img {
        width: 90%;
    } 

    .error-pic img {
        width: 30%;
    }
}