header {
    min-height: 100px;
    background-color: black;
    color: white;
}

main {
    height: 500px;
}

.top-content {
    min-height: 50px;
    background-color: green;
    text-align: center;
}



#card-table {
    min-height: 250px;
    background-color: green;
    border-style: solid;
    border-width: medium;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#game-display-message {
    min-height: 30px;
    background-color: green;
    border-style: solid;
    border-width: medium;
    text-align: center;
    padding: 0;
    
}

.card {
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: 30px;
    max-height: 140px;
}

.face-down{
    background-color: lightblue;
    width: 90px;

}

.card .value {
    font-size: 15pt;
    font-family: sans-serif;
}

.card .suit {
    background-image: url('../images/card_suits.png');
    height: 100px;
    width: 90px;
}

.card .diamonds {
    background-position-y: 100px;
}

.card .hearts {
    background-position-x: 90px;
}

.card .clubs {
    background-position-x: 90px;
    background-position-y: 100px;
}

.selected {
    margin-top: 5px;
    margin-bottom: 36px;
}

.hold {
    display: none;
}

.selected .hold {
    display: block;
}

.game-controls-area {
    min-height: 50px;
    background-color: white;


}

.game-controls {
    display: inline-block;
    width: 45%;
    padding-top: 40px;
    font-size: 20px;
    text-align: center;
}

button {
    font-size: 20px;
}

#btn-draw {
    display: none;
}

#btn-bank-win {
    display: none;
}

#btn-high {
    display: none;
}

#btn-low {
    display: none;
}

#winnings {
    display: none;
}


#bet-amount {
    width: 50px;
}